body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #d2e1e4, #00adb0);
    font-family: Arial, sans-serif;
    background-image: url(university.png);
    background-size: cover;
    background-position: 50% ;
}

.container {
    text-align: center;
}



.button:hover {
    background-color: #148be1;
    transform: scale(1.05);
}
